html {
  scroll-behavior: smooth;
}


span{
    font-weight: bold;
}

/*************Navbar************/
.navbar{
    background-color: transparent;
}
.transparent{
    background-color: transparent!important;
}
.vg-nav-sidebar{
/*    background-color: transparent !important;*/
}

.vg-nav ul li .color-menu{
    color: #fff !important;
    font-weight: 500;
}
.navbar{
    width: 100%;
    float: left!important;
    display: flex;
}
.navbar-nav{
    width: 100%;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}



/*****************Slider Sections**************/
.carousel-caption{
    height: 60%;
}
.carousel-caption h3{
    font-size: 3vw;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 2vw;
}
/************************About Section******************/
.about_area{
    z-index: 99999;
    background: #e5f6ff;
}
.progress{
   border-radius: 10px;
background: linear-gradient(145deg, #cedde6, #f5ffff);
box-shadow:  6px 6px 12px #99a5ab, 
             -6px -6px 12px #ffffff;
}

.title button{
    background-color: #3a86ff;
}
/****************************Our Services Section***********************/

/** MAIN TITLE **/
.services{
    background: #e5f6ff;
}
.main-title {
    text-align: center;
    margin-bottom: 50px;
}

.main-title h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #4f4f4f;
}

.main-title h1 span{
    font-weight: 900;
}

.main-title p{
    font-weight: 400;
    font-size: 14px;
    color: #808080;
    margin-bottom: 0;
}
.services-info {
    margin-bottom: 30px;
    padding: 30px;
/*    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);*/
    border-radius: 5px;
background: linear-gradient(145deg, #e5f6ff, #e5f6ff);
box-shadow:  5px 5px 10px #c3d1d9, 
             -5px -5px 10px #ffffff;
}

.services-info i {
    font-size: 40px;
    width: 60px;
}

.services-info h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px;
}

.services-info p {
    margin: 0;
}


/******************Portfolio Section******************/
.portfolio_area{
    background: #e5f6ff;
}

.filter_menu .navigation{
        margin: 0;
    }

.filter_menu .navigation {
    padding: 0;
    text-align: center;
    margin: 25px auto;
}

.filter_menu .navigation li{
    display: inline-grid;
}

.filter_menu .navigation li{
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px 15px 4px 15px;
    margin: 2px;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    background: #e5f6ff;
    font-weight: 400;
    border-radius: 5px;
}
.filter_menu .navigation li.active,
.filter_menu .navigation li:hover{

background: #e5f6ff;
    box-shadow:  5px 5px 10px #c3d1d9, 
                 -5px -5px 10px #ffffff;
}

/****magnific Popup effects*******/

/*
.mfp-fade.mfp-bg{
    opacity: 0;
    transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready{
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing{
    opacity: 0;
}
*/

/*****************Custom portfolio***********/
.cars{
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
.property-thumbnail a img{

}
.filtr-item{
    float: left;
}

/** PROPERTY BOX **/
.property-box {
    position: relative;
    overflow: hidden;
}

.property-thumbnail {
    position: relative;
    overflow: hidden;
}

.property-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.property-overlay {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-link {
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
    margin: 3px;
    cursor: pointer;
    display: none;
}

.overlay-link:not([href]):not([tabindex]),
.overlay-link:not([href]):not([tabindex]):hover {
    color: #fff;
}

.overlay-link:hover {
    color: #e5f6ff;
}

.property-thumbnail:hover .property-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.property-thumbnail:hover .overlay-link {
    display: inline-block;
}

/** PROPERTY BOX STARTED **/
.property-box {
    background: #e5f6ff;
}

.property-box .property-img {
    position: relative;
    display: block;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.property-box .property-img img{
    width: 100%;
}



/******************Counter Section**************/
.counters {
    padding: 70px 0 20px;
    background:#e5f6ff;
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.counters.overview-bgi:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.counter-box{
    margin-bottom: 50px;
}

.counter-box i{
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.counter-box h1 {
    font-weight: 700;
    color: #333;
    margin: 0 0 10px;
    font-size: 30px;
}

.counter-box h5 {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}


/**********************Block Section Start**************/
.block_area{
    background: #e5f6ff;
}

.block-section h3{
     font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #4f4f4f

}




/**********************Block Section End**************/

/*************Design and Development Start*************/

.design_development{
    background: #e5f6ff;
}
.design_develop{
    border-radius: 8px;
background: #e5f6ff;
box-shadow:  5px 5px 10px #c3d1d9, 
             -5px -5px 10px #ffffff;
    transition: 1s!important;
}




/*************Design and Development End*************/

/************Contact Section Start************/

.contact{
    background: #e5f6ff;
}
.contact h2{
    color: #4d4d4d
}
.card{
    border-radius: 8px;
background: #e5f6ff;
box-shadow:  5px 5px 10px #c3d1d9, 
             -5px -5px 10px #ffffff;
    transition: 1s!important;
}
.card:hover{
    background: #e5f6ff;
box-shadow: inset 7px 7px 18px #a9b6bd, 
            inset -7px -7px 18px #ffffff;
    transition: 1s all ease!important;
}
.form-header{
    padding: 10px 0px;
    text-align: center;
    color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4) ;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card .card-body .c-icon{
    border-radius: 20px;
padding: 10px 14px;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/************Contact Section End************/


/***********Portfolio page 1st **************/

body{
    background: #e5f6ff
}

.md-pills .nav-link.active {
        color: #4d4d4d;
      border-radius: 5px;
background: linear-gradient(145deg, #cedde6, #f5ffff);
box-shadow:  5px 5px 10px #cad8e0, 
             -5px -5px 10px #ffffff;
      }
      button.close {
        position: absolute;
        right: 0;
        z-index: 2;
        padding-right: 1rem;
        padding-top: .6rem;
      }


/************Footer Section**********/

footer{
    background: #3a86ff;
}



/*<!-----------------Goto top Button------------->*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
 border-radius: 30px;
 font-size: 15px;
padding: 10px 15px;
opacity: 0.6;
transition: 0.5s;
background: #3a86ff;
color: white;


}

#myBtn:hover {
 opacity: 1;
}
